/* center クラスのスタイルを定義 */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポートの高さを設定 */
  margin-left: 600px; /* .drawer の幅を考慮してさらに右に移動 */
}


/* main コンテンツの左マージンを設定 */
.main {
  margin-left: 240px;
  padding: 16px;
}

/* ヘッダーの高さを設定 */
.header {
  height: 64px;
}

/* main コンテンツの上マージンを設定 */
.main {
  margin-top: 64px;
}



@media (max-width: 500px) {
  .root {
    padding: 16px;
  }

  .header {
    font-size: 1.5rem;
    margin-bottom: 24px;
  }

  .button {
    width: 100%;
    margin-bottom: 32px;
  }

  .searchField {
    width: 100%;
    margin-bottom: 24px;
  }

  .tableContainer {
    margin-top: 24px;
    margin-left: 0; /* モバイル表示時に左マージンをリセット */
    max-width: 100%; /* モバイル表示時に最大幅をリセット */
  }
}