/* SkillForm.css */

.form-container {
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  .form-title {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }